@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} 

@theme {
  --color-gray: #F7F3F7;
  --color-blue: #35618E;
  --color-green: #25D366;
  --color-bgreen: #29ce66;
  --color-bblue: #2a4a6b;
}

@layer base {
  button {
    @apply text-xl font-bold px-10 py-5 rounded-lg flex items-center justify-center gap-2 text-white;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Playfair Display, sans-serif;
}
